@import '@theme/vars.scss';
@import '@theme-mixins/media.scss';

.cookies {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  transition: 0.5s ease-out;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    background-color: #fff;
  }

  &__text {
    font-family: "IBMPlexMono";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.01em;

    color: #000000;

    .code{
        font-weight: 600;
        color: #f08f3b;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 25px;
    margin: 0 0 0 25px;
    border: 1px solid #000000;
    border-radius: 10px;
    background: #262626;
    font-family: "IBMPlexMono";
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    color: #fff;
    transition: 0.5s ease-out;
  }

  &__button:active,
  &__button:hover {
    cursor: pointer;
    background-color: #F08F3B;
    color: #fff;
    border-color: #F08F3B;
  }

  &__button:active &__bracket_left,
  &__button:hover &__bracket_left {
    transform: translateX(-2px);
  }

  &__button:active &__bracket_right,
  &__button:hover &__bracket_right {
    transform: translateX(2px);
  }

  &__button-text {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    transition: 0.5s ease-out;
  }

  &__bracket {
    transition: 0.5s ease-out;
  }

  &__bracket_left {
    margin-right: 10px;
  }

  &__bracket_right {
    margin-left: 10px;
  }
}

.cookies_hidden {
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none;
}
