@import "@theme/vars.scss";

html {
  font-family: $defaultFontFamily;
  font-size: $defaultFontSize;
  line-height: $defaultLineHeight;
  color: $gray;
  background-color: #FFF;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;

    &._lock {
        overflow: hidden;
    }
}

*{
    -webkit-tap-highlight-color: transparent;
    scrollbar-color: $blue transparent;
    scrollbar-width: thin;
    
    &::-webkit-scrollbar {
        height: 10px;
        width: 10px;

        @media only screen and (max-width: $bp-lg) {
            height: 5px;
            width: 5px;
        }
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $blue;
        border-radius: 3px;
    }
}

img{
  image-rendering: -webkit-optimize-contrast;
}

.main{
    overflow-x: hidden;
    width: 100%;
}

.section{
    box-sizing: border-box;

    &__header{
        margin-bottom: 60px;
    }

    &__title{

    }
}


.container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1360px;
    padding: 0 40px;
    margin: 0 auto;

    @media only screen and (max-width: $bp-lg) {
        padding: 0 25px;
    }

    @media only screen and (max-width: $bp-md) {
        padding: 0 20px;
    }
}