extends /layout/main.pug

block title
    title Карта сайта

block body
    .sitemap
        .sitemap__container
            .sitemap__title Карта сайта
            .sitemap__nav
                a.sitemap__link(href="main.html") Главная