@import "@theme/vars.scss";
@import "@theme/animations.scss";

.header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    padding: 10px 0;
    transition: background-color 0.5s ease;
    background-color: #fff;

    &.is-fixed{
        // background-color: rgba(0, 0, 0, 0.35);
    }

    &.is-active{
        // background-color: #fff;
    }

    &__container {
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__burger-trigger {
        cursor: pointer;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        width: 33px;
        margin-right: 28px;
        height: 19px;

        &:hover {
            span,
            &::after,
            &::before {
                background-color: $blue-light;
            }
        }


        span,
        &::after,
        &::before {
            content: "";
            display: block;
            height: 3px;
            width: 33px;
            transform-origin: center;
            background-color: $blue;
            transition: transform 0.35s ease, opacity 0.35s ease, background-color 0.35s ease;
        }
    }

    &__logo {
    }

    &__actions {
        margin-left: auto;
    }

    &__phone {
    }

    &__login {
    }

    &__burger {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        position: absolute; 
        top: 0;
        left: 0;
        width: 395px;
        height: 1024px;
        max-height: 100vh;
        z-index: 2;
        transform: translateX(-100%);
        transition: transform 0.65s ease, box-shadow 0.25s ease;
        transition-delay: 0s, 0.4s;

        
        &.is-active{
            transform: translateX(0%);
            box-shadow: 26px 4px 100px rgba(0, 0, 0, 0.25);
            transition-delay: 0s;
        }
    }

    &__burger-inner {
    }

    &__burger-header {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(162, 182, 196, 0.5);
        padding: 12px 40px;
    }

    &__burger-logo {
    }

    &__burger-close {
        cursor: pointer;
        flex-shrink: 0;
        width: 26px;
        height: 26px;
        fill: $blue;
        transition: fill 0.35s ease;

        &:hover{
            fill: $blue-light;
        }
    }

    &__burger-body {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        padding: 30px 40px;
    }

    &__nav {

        .nav {
            display: flex;
            flex-direction: column;

            &__chapter {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                &:last-of-type{
                    margin-bottom: 0;
                }
            }
        
            &__title {
                color: $dark;
                margin-bottom: 15px;
            }
        
            &__item {
                display: flex;
                text-decoration: none;
                color: $gray;
                font-family: 'HelveticaNeue';
                font-size: 16px;
                line-height: 19px;
                padding: 5px 0;
                transition: color 0.35s ease;

                &:hover{
                    color: $blue-light;
                }
            }
        }
    }
}