mixin header()
    header.header.jsHeader
        .container.header__container
            .header__inner 
                .header__burger-trigger.jsBurgerTrigger
                    span 
                a.header__logo(href="index.html")
                    img(src="../../assets/media/logo.svg", alt="") 
                .header__actions 
                    a.header__phone(href="tel:+7 (812) 458-58-58") 
                        svg.icon
                            use(xlink:href="#phone")
                        span +7 (812) 458-58-58
                    a.header__login(href="#") 
                        svg.icon
                            use(xlink:href="#login")
                        span Личный кабинет
            .header__burger.jsBurger
                .header__burger-header 
                    a.header__burger-logo(href="index.html") 
                        img(src="../../assets/media/logo-lg.svg", alt="")
                    button.header__burger-close.jsBurgerClose(type="button")
                        svg.icon
                            use(xlink:href="#close")
                .header__burger-body 
                    .header__nav    
                        nav.nav
                            .nav__chapter
                                h2.nav__title МЕНЮ
                                a.nav__item(href="#") Для себя
                                a.nav__item(href="#") Для бизнеса
                                a.nav__item(href="#") Новости
                                a.nav__item(href="#") Акции
                                a.nav__item(href="#") О нас
                                a.nav__item(href="#") Контакты

                            .nav__chapter
                                h2.nav__title Услуги
                                a.nav__item(href="#") Интернет
                                a.nav__item(href="#") Телевидение
                                a.nav__item(href="#") Охранные сигнализации
                                a.nav__item(href="#") Телефония
                                a.nav__item(href="#") Оборудование