@import "@theme/vars.scss";

.link{
    display: inline-flex;
    align-items: center;
    color: $blue-light;
    fill: $blue-light;
    font-weight: 700;
    transition: fill 0.35s ease, color 0.35s ease, opacity 0.35s ease;

    &:hover{
        color: $blue;
        fill: $blue;
    }

    span{

    }

    .icon{
        width: 24px;
        height: 24px;
    }

    .icon + span {
        margin-left: 2px;
    }

    span + .icon{
        margin-left: 2px;
    }

    &--white{
        color: #fff;
        fill: #fff;

        &:hover{
            color: $gold;
            fill: $gold;
        }
    }

    &--gold{
        color: $gold;
        fill: $gold;

        &:hover{
            color: $gold;
            fill: $gold;
            opacity: 0.8;
        }
    }
}